---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogCard from "../../components/BlogCard.astro";

import { getCollection, getEntry } from "astro:content";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allBlogPosts = await getCollection("blog");
---

<BaseLayout>
  <main>
    <h2>Neuigkeiten</h2>
    {allBlogPosts.map((post) => <BlogCard post={post} />)}
  </main>
</BaseLayout>

<style>
  main {
    max-width: var(--max-text-width);
    margin: var(--size-10) auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  h2 {
    box-shadow: var(--shadow-2);
    background-color: var(--surface-1-light);
    padding: var(--padding);
  }
</style>
