/* 
  Globale Stile für wiederkehrende Elemente wie Header, Logo etc. 
  Detailseiten haben eigene CSS-Dateien für spezifische Elemente.
*/

/* Schriftarten importieren */
@font-face {
  font-family: "CyberFont";
  src: url("https://cdn.glitch.global/373a89c7-55ea-4386-8afe-3a6112a39fc4/Dune_Rise.ttf?v=1710342980690");
}

/* Root-Variablen für konsistente und einfache Anpassungen */
:root {
  --fs-sm: clamp(0.8rem, 0.42vi + 0.69rem, 1.03rem);
  --fs-base: clamp(1rem, 0.68vi + 0.83rem, 1.38rem);
  --fs-md: clamp(1.25rem, 1.06vi + 0.99rem, 1.83rem);
  --fs-lg: clamp(1.56rem, 1.6vi + 1.16rem, 2.44rem);
  --fs-xl: clamp(1.95rem, 2.37vi + 1.36rem, 3.26rem);
  --fs-xxl: clamp(2.44rem, 3.45vi + 1.58rem, 4.34rem);
  --fs-xxxl: clamp(3.05rem, 4.97vi + 1.81rem, 5.79rem);

  --brand-light: var(--green-9);
  --accent-light: var(--indigo-12);

  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);
  --text-3-light: var(--gray-1);

  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);

  --brand: var(--brand-light);
  --accent: var(--accent-light);

  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --text-3: var(--text-3-light);

  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);

  --gap: var(--size-7);

  --font-h1: "CyberFont", sans-serif;
  --font-p: var(--font-geometric-humanist);
  --padding: var(--size-3);
  --max-text-width: var(--size-content-3);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Globale Textstile */
h1 {
  font-family: var(--font-h1);
  color: var(--brand);
  font-size: var(--font-size-fluid-2);
}

h2 {
  font-family: var(--font-p);
  color: var(--brand);
  font-size: var(--fs-lg);
}

p {
  color: var(--text-1);
  font-family: var(--font-p);
  max-width: var(--max-text-width);
  font-size: var(--font-size-fluid-1);
  line-height: var(--font-lineheight-3);
}

/* Body-Stile */
body {
  margin: 0;
  font-size: var(--font-size-fluid-1);
  background: var(--surface-1);
  background-image: repeating-linear-gradient(45deg,
      transparent,
      transparent 40px,
      var(--brand) 40px,
      var(--brand) 41px);
}

img {
  display: block;
  max-width: 100%;
}

.button {
  display: block;
  background-color: var(--green-1);
  padding-block: 1rem;
  padding-inline: 2rem;
  border: var(--border-size-1) solid var(--brand);
  border-radius: 8px;
  transition: background-color 0.2s ease, color 0.1s ease-in;
  /* Animationsart z.B ease in*/
  font-family: var(--font-p);
  color: var(--text-1);

  &:hover {
    background-color: var(--green-4);
    color: var(--text-1);
  }
}

.bg-accent {
  background-color: var(--brand) !important;
  color: var(--text-3);
}

.button.bg-accent {
  &:hover {
    background-color: var(--green-4) !important;
    color: var(--text-1) !important;
  }
}

.flex {
  display: flex !important;
}

a {
  color: var(--accent);

  &:hover {
    color: var(--green-12);
  }
}

/* Media Queries für Responsive Design */
@media screen and (max-width: 768px) {
  a p {
    font-size: var(--fs-base);
    margin: 5px 0 0 10px;
  }

  main section {
    flex-direction: column;
  }
}