---
import Slideshow from "../components/Slideshow.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<BaseLayout>
  <main>
    <Slideshow />
    <section class="hero stack">
      <h2>Der MakerSpace am Steinbart</h2>
      <p>Willkommen beim MakerSpace am Steinbart-Gymnasium!</p>
      <p>
        Unser Ziel ist es, eine kreative Umgebung für Schülerinnen und Schüler
        zu schaffen, in der sie ihre technischen Fähigkeiten entwickeln und
        Projekte entwickeln können.
      </p>
      <div class="button-card">
        <a class="button" href="/Neuigkeiten">Neuigkeiten</a>
        <a class="button" href="/ueberuns">Über uns</a>
      </div>
    </section>
    <Card
      imagePath="/src/assets/3dprinter.jpg"
      altText="Bild eines 3D-Druckers"
      headingText="Was ist ein MakerSpace?"
    >
      <p>
        Ein Makerspace ist ein Ort wo Leute zusammenkommen um Kreative Ideen
        umzusetzen die mit Technik in verbindung stehen. Oft gibt es Geräte, wie
        zum Beispiel 3D-Drucker, oder Lötkolben, die von Mehreren Leuten benutzt
        werden, da viele sowas nicht selbst haben. Makerspaces sind nicht nur da
        um etwas zu entwickeln, sondern auch um sich mit anderen Leuten
        auszutauschen, zusammenzuarbeiten und zu lernen.
      </p>
    </Card>
    <Card
      imagePath="/src/assets/loetkolben.jpg"
      altText="Bild einer Lötkolbenstation"
      headingText="Möglichkeiten im Makerspace"
    >
      <p>
        Im Makerspace gibt es viele Werkzeuge um etwas Neues zu entwickeln. Es
        stehen Lötkolben, PCs, ein Green Screen, Lego Mindestorms, Arduinos mit
        vielen Sensoren und ein 3D-Drucker zur verfügung. Ihr werdet nicht nur
        Wekkzeuge bekommen sondern auch hilfe von anderen Schülern und Lehrern
      </p>
      <p>
        Außerdem wird der <a href="https://www.youtube.com/@steinbartpodcast"
          >Steinbart Podcast</a
        > im Makerspace gedreht.
      </p>
    </Card>
    <Card
      imagePath="/src/assets/pcs.jpg"
      altText="Bild von PCs"
      headingText="AG MakerSpace"
    >
      <p class="textInfo">
        Die AG MakerSpace findet jeden Freitag um 13:40 Uhr in den
        Computerräumen im Neubau (Raum 241) statt. Die AG wird geleitet von Herr
        Roshow, Herr Heupp und Herr Thon. Ihr könnt frei an euren eigenen
        Projekten mit den Werkzeugen vom Makerspace arbeiten, oder anderen
        helfen oder lernen.
      </p>
    </Card>
  </main>
</BaseLayout>

<style>
  main {
    margin-block: var(--padding);
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: var(--padding);
    margin-inline: auto;
    max-width: var(--max-text-width);
    box-shadow: var(--shadow-2);
    background-color: var(--surface-1);
    padding: var(--padding);
  }

  article > p {
    padding-inline: 0;
  }

  .button-card {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
  }
</style>
