---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  imagePath?: string;
  altText?: string;
  headingText?: string;
}

const { imagePath, altText, headingText } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
if (imagePath) {
  if (!images[imagePath])
    throw new Error(
      `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
    );
}
---

<article>
  {
    imagePath && altText ? (
      <Image
        loading="lazy"
        decoding="async"
        width="900"
        src={images[imagePath]()}
        alt={altText}
      />
    ) : (
      ""
    )
  }
  <div class="stack">
    {headingText && <h2>{headingText}</h2>}
    <slot />
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    margin-block: 4rem;
    margin-inline: auto;
    padding: 2rem;
    max-width: var(--max-text-width);
    box-shadow: var(--shadow-2);
  }

  img {
    max-height: 300px;
    object-fit: cover;
  }

  article:nth-child(2n + 1) {
    background-color: var(--brand);
    p {
      color: var(--text-3);
    }
    h2 {
      color: var(--text-3);
    }
  }

  article:nth-child(2n) {
    background-color: var(--surface-1);
    p {
      color: var(--text-1);
    }
  }
</style>
