<footer><a href="https://steinbart-gymnasium.de/kontakt/">Impressum</a> | <a href="https://steinbart-gymnasium.de">Steinbart-Gymnasium</a></footer>

<style>
    footer {
    background-color: var(--surface-1);
    padding: var(--padding);
    box-shadow: var(--shadow-2);
    text-align: center;
    padding-block: 4rem;
  
    p {
      color: var(--text-1);
    }
  }
</style>