---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";

const title = "MakerSpace";
---

<header>
  <div>
    <a href="/"><Image loading="eager" src={logo} alt="Steinbart-Logo" /></a>
    <h1>{title}</h1>
  </div>
  <nav>
    <a class="animation" href="/index.html">Home</a>
    <a class="animation" href="/news.html">Neuigkeiten</a>
    <a class="animation" href="/ueberuns.html">Über uns</a>
  </nav>
</header>

<style>
  /* Header-Stile */
  header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--surface-1);
    box-shadow: var(--shadow-2);
    padding: var(--padding);
    gap: 0;
    border-bottom: 10px solid var(--brand);

    img {
      height: calc(var(--font-size-fluid-2) + 0.2rem);
      width: calc(var(--font-size-fluid-2) + 0.2rem);
    }
  }

  header > div {
    display: flex;
    gap: 1rem;
  }

  /* Navigation */
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);

    a {
      text-decoration: none;
      font-family: var(--font-p);
      color: var(--text-1);
      font-size: var(--font-size-fluid-1);
      animation: var(--animation-bounce) forwards;
    }
  }
</style>
