---
import { Image } from "astro:assets";
import loetkolben from "../assets/loetkolben.jpg";
---

<ul class="list">
  <li class="item">
    <div class="content">
      <Image loading="eager" src={loetkolben} alt="Steinbart-Logo" />
    </div>
  </li>
  <li class="item">
    <div class="content">
      <Image loading="eager" src={loetkolben} alt="Steinbart-Logo" />
    </div>
  </li>
  <li class="item">
    <div class="content">
      <Image loading="eager" src={loetkolben} alt="Steinbart-Logo" />
    </div>
  </li>
</ul>

<style>
  img {
    height: 100%;
    width: var(--max-text-width);
    object-fit: cover;
  }

  .list {
    box-shadow: var(--shadow-3);
    display: flex;
    gap: 1rem;
    margin-block: 4rem;
    background-color: var(--surface-1);
    width: var(--max-text-width);
    margin-inline: auto;
    padding-inline: 0;
    max-width: 100%;
    border-radius: var(--radius-conditional-2);
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .item {
    flex-shrink: 0;
    max-inline-size: 100vw;
    max-block-size: var(--max-text-width);
    aspect-ratio: var(--ratio-widescreen);

    background-color: #fff;

    scroll-snap-align: center;
  }

  .content {
    display: flex;
    height: 100%;
  }
</style>
