---
import { Image } from "astro:assets";
import loetkolben from "../assets/loetkolben.jpg";
import printer from "../assets/3dprinter.jpg";
import pcs from "../assets/pcs.jpg";
---

<ul class="list">
  <li class="item">
    <div class="content">
      <Image
        loading="eager"
        src={loetkolben}
        alt="Bild einer Lötkolbenstation"
      />
    </div>
  </li>
  <li class="item">
    <div class="content">
      <Image loading="eager" src={printer} alt="Bild eines 3D-Druckers" />
    </div>
  </li>
  <li class="item">
    <div class="content">
      <Image loading="eager" src={pcs} alt="Bild von Computern" />
    </div>
  </li>
</ul>

<style>
  img {
    height: 100%;
    width: var(--max-text-width);
    object-fit: cover;
  }

  .list {
    display: flex;
    gap: 1rem;
    background-color: var(--surface-1);
    width: var(--max-text-width);
    margin-inline: auto;
    padding-inline: 0;
    max-width: 100%;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .item {
    flex-shrink: 0;
    inline-size: calc(var(--max-text-width) - 5rem);
    max-block-size: var(--max-text-width);
    aspect-ratio: var(--ratio-widescreen);
    background-color: #fff;
    scroll-snap-align: center;
  }

  .content {
    display: flex;
    height: 100%;
  }
</style>

<script>
  const images = document.querySelector(".list");
  const image_el = document.querySelector(".content");
  let image_width = 0;

  function set_image_width() {
    if (image_el != null) {
      image_width = image_el.clientWidth;
      console.log(image_width);
    }
  }

  set_image_width();
  window.onresize = set_image_width;

  let image_number = 0;
  setInterval(() => {
    if (image_number < 2) {
      image_number += 1;
    } else {
      image_number = 0;
    }
    images?.scroll({
      left: image_number * image_width,
      behavior: "smooth",
    });
  }, 5000);
</script>
