---
import BaseLayout from "./BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
interface Props {
    post: CollectionEntry<"blog">;
}

// `post` will match your 'blog' collection schema type
const { post } = Astro.props;
---

<BaseLayout>
    <h1>{post.data.title}</h1>
    <slot />
</BaseLayout>
